.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 120px 0;
    >.limits{
        font-size: 40px;
        width: 700px;
        color: #121417;
        font-weight: 600;
        line-height: 48px;
    }
}
.supports{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    >.card{
        width: 190px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #582066;
        color: white;
        border-radius: 8px;
        transition: .2s;
        cursor: pointer;
    }
    >.card:hover{
        background-color: #582066b1;
    }
    >.customer{
        transition: .2s;
        cursor: pointer;
        width: 190px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #e4e6e6;
        color: #5A6475;
        border-radius: 8px;
        font-weight: 600;
    }
    >.customer:hover{
        background-color: #bcb8bdb1;
    }
}