
.feature2{
    margin-top: 100px;
}
.rows{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    overflow: hidden;
    row-gap: 50px;
}
.rows::before{
    content: '';
    width: 700px;
    height: 700px;
    position:absolute;
    background: #5d2a6a;
    border-radius: 20px;
    transform: rotate(45deg);
    box-shadow: 2px 3px 30px rgb(154, 153, 153);
    right: -150px;

}

.rows::after{
    content:'# Trusted by over 1 million users';
    position: absolute;
    right: 80px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    top: 30px;
}
.f2{
    width: 450px;
    background:linear-gradient(to top right, rgb(38, 1, 50),rgb(89, 11, 99),rgb(38, 1, 50));
    height: 400px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
    margin-top: 150px;
}

.f2top{
    font-size: 38px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 0 20px;
}
.f2mid{
    color: rgb(181, 181, 181);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding: 0 20px;
}
.themestype{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.thememarq{
    display: flex;
    column-gap: 17px;
    margin-right: 17px;
    >li{
        width: 100px;
        height: 55px;
        border-radius: 5px;
    }
    >li:nth-child(1){
        background-color: lightgrey;
    }
    >li:nth-child(2){
        background-color: lightpink;
    }
    >li:nth-child(3){
        background-color: lightskyblue;
    }
    >li:nth-child(4){
        background-color: rgb(157, 6, 157);
    }
    >li:nth-child(5){
        background-color: rgb(213, 208, 208);
    }
    >li:nth-child(6){
        background-color: rgb(88, 88, 241);
    }
}

.revenue{
    background: white;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    box-shadow: 5px 3px 10px #270e2e;
    >.spend{
        text-align: start;
        padding-left: 10px;
        >p{
            font-weight: 600;
            font-size: 23px;
            padding-bottom:2px;
        }
        >div{
            display: flex;
            gap: 10px;
            align-items: center;
            color:#5A6475;
            >p{
                font-size: 13px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
            }
        }
    }

    >.spendmid{
        display: flex;
        align-items: center;
        gap: 10px;
        >h3{
            font-size: 40px;
        }
        >span{
            font-weight: 700;
            font-size: 15px;
        }
    }
    >.spendmid2{
        display: flex;
        gap: 20px;
        >div{
            color:#5A6475;
            font-size: 13px;
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }
    }
    >.spendend{
        >ul{
            display: flex;
            justify-content: space-between;
            color:#5A6475;
            font-size: 13px;
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }
        >p{
            position: relative;
        }
        >p::after{
            content: '';
            position: absolute;
            top: 0;
            left: 30%;
            background-color: white;
            width: 2px;
            height: 8px;
        }
        >p::before{
            content: '';
            position: absolute;
            top: -4px;
            right: 10%;
            background-color: rgb(255, 255, 255);
            border:2px solid #5d2a6a;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
}