.hero{
    height: 532px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.647),rgba(255, 255, 255, 0.482)),url('./meshBG.avif');
    /* height: 500px; You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* background: linear-gradient(to right,rgb(208,200, 210),#ffffff,rgb(208, 200, 210)); */
    gap: 25px;
    /* padding: 128px,80px,32px,80px; */
    /* childs */
    margin-top: 35px;
    >.con1{
        color: #582066;
        height: 20px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
    }
    >.con2{
        width: 702px;
        /* background: red; */
        height: 216px;
        font-size: 62px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 72px;
    }
    >.con3{
        font-size: 18px;
        font-weight: 400;
        width: 648px;
        height: 56px;
        color: #5A6475;
        line-height: 28px;
        font-family: 'Inter', sans-serif;
    }
    >.con4{
        width: 193px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #582066;
        border-radius: 8px;
        padding: 16px;
        transition: .2s;
        >button{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            line-height: 20px;
        }
        >span{
            color: white;
        }
       
    }
    >.con4:hover{
        background-color: #582066b8;
    }

    >.con5{
        color:#5A6475;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        font-family: 'Inter', sans-serif;
    }
}

@media(max-width:700px){
    .hero{
        >.con1{
            color: #582066;
            height: 20px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
        }
        >.con2{
            width: 80%;
            /* background: red; */
            height: 216px;
            font-size: 50px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 72px;
        }
        >.con3{
            font-size: 17px;
            font-weight: 400;
            width: 80%;
            height: auto;
            color: #5A6475;
            line-height: 28px;
            font-family: 'Inter', sans-serif;
        }
        
    }

}
@media(max-width:550px){
    .hero{
        >.con1{
            color: #582066;
            height: 20px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
        }
        >.con2{
            width: 80%;
            /* background: red; */
            height: 216px;
            font-size: 42px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 70px;
        }
      
        
    }
}
@media(max-width:400px){
    .hero{
        >.con1{
            color: #582066;
            height: 20px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
        }
        >.con2{
            width: 80%;
            /* background: red; */
            height: 216px;
            font-size: 40px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 50px;
        }
        >.con4{
            width: 160px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: #582066;
            border-radius: 8px;
            padding: 16px;
            transition: .2s;
            >button{
                background-color: transparent;
                border: none;
                color: white;
                font-size: 12px;
                line-height: 20px;
            }
            >span{
                color: white;
            }
           
        }
      
        
    }
}