.subsContainer{
    margin-top: 250px;
}

.submail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
        background-image: radial-gradient(#cca7d5, rgb(255, 255, 255), rgb(255, 255, 255));
    >h3{
        font-size: 35px;
        color: #582066;
        font-family: 'Inter', sans-serif;
       }
       >p{
        font-style: 18px;
        width: 576px;
        line-height: 28px;
        font-family: 'Inter', sans-serif;
        color: #5A6475;
        margin-top: 20px;
       }
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:20px;
        height: 60px;
        >input{
            height: 100%;
            width: 400px;
            padding-left: 20px;
            font-size: 18px;
            border-top-left-radius:10px ;
            border-bottom-left-radius:10px ;
            border: 2px solid #dadadb;
            outline: none;
            font-family: 'Inter', sans-serif;
        }
        >button{
            height: 100%;
            width: 100px;
            border-top-right-radius:10px ;
            border-bottom-right-radius:10px ;
            background: #582066;
            color: white;
            outline: none;
            border: none;
            font-family: 'Inter', sans-serif;
        }
    }
}